/.ProofAssistantDescriptionLabelProvider.java._trace
/.ProofAssistantLabelProvider.java._trace
/.ProofAssistantDescriptionLabelProvider.xtendbin
/.ProofAssistantLabelProvider.xtendbin
/ProofAssistantDescriptionLabelProvider.java
/ProofAssistantLabelProvider.java
