/.ProofAssistantIdeModule.java._trace
/.ProofAssistantIdeSetup.java._trace
/.ProofAssistantIdeModule.xtendbin
/.ProofAssistantIdeSetup.xtendbin
/ProofAssistantIdeModule.java
/ProofAssistantIdeSetup.java
