/.ProofAssistantRuntimeModule.java._trace
/.ProofAssistantStandaloneSetup.java._trace
/.ProofAssistantRuntimeModule.xtendbin
/.ProofAssistantStandaloneSetup.xtendbin
/ProofAssistantRuntimeModule.java
/ProofAssistantStandaloneSetup.java
